body{
    margin: 0;
    background-color:#00000026;
}
form, table{
    margin-left: 41vw;
    width: 205px;
    padding: 13px 20px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    background-color: #fff;
}
header{
	background-color: #036704;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}
.voltar {
    position: absolute;
    margin-left: -82px;
}
h1,h2,h5{
	padding-top: 5px;
    text-align: center;
    margin: 0;
}
footer{
	background-color: #333;
	width: 100%;
    padding-bottom: 5px;
    color: #FFF;
    position: fixed;
    z-index: 1000;
    bottom: 0;
}

/* index e paginas de navegação*/
.conteudos{
    margin-bottom: 40px;
}
article{
	margin-bottom: 15px !important;
	background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px 15px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
	border-radius: 15px;
}
.btn .link{
	text-align: center;
    padding: .5em 2em;
    border: 0;
    border-radius: 10px;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    color: #fff;
    background-color: #0c8cd3;
    border-color: #04324c;
    width: 20%;
    margin: 10px 0px;
    margin-left: 14vw;
    transition: 0.3s;
} 
.link:hover{
    border-bottom: 0px;
}
div.lista{
    width: 10vw;
    height: 90px;
}
dl{
    position: absolute;
}
/* Formularios */
form.form3{
    margin-left: 38vw;
    width: 325px;
}

/* Tabelas */
table{
    margin-left: 39vw;
}